<% for(var i = 0; i < users.length; i++) { %>
    <div class="div">

    
    
        <tr class="tableRow" onclick="kirevai('<%= users[i].name %>')">
            
            <td><%= i + 1 %></td>
            <td><%= users[i].name %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].gender %></td>
            <td><%= users[i].status %></td>
            <td>
                <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                </a>
                <a href="/delete_user/?id=<%= users[i]._id%>" class="btn border-shadow delete" data-id=<%= users[i]._id%> >
                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                </a>
            </td>
        </tr>
    </a>
</div>
<% } %>


 
<script>
    function kirevai(userName) {
        // Construct the URL with the userName parameter\
        console.log(userName);
        
        // var url = '/kirevai/?id=' + encodeURIComponent(userName);
        var url = '/kirevai'
        // Redirect to the URL
        window.location.href = url;
    }
</script>

    




 


